:root {
  --cell-size: 64px;
}

html, body {
  height: 100%;
  margin: 0;
  color: bisque; 
}

body {
  background: #000;
  font-size: 16px;
}

.stat-container {
  text-align: center;
}

.board-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.board {
  cursor: url('../img/molot.png') 14 32, auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  --map-tile-top-left-url: url('../img/prairie/map-tile-top-left.png');
  --map-tile-top-url: url('../img/prairie/map-tile-top.png');
  --map-tile-top-right-url: url('../img/prairie/map-tile-top-right.png');
  --map-tile-bottom-left-url: url('../img/prairie/map-tile-bottom-left.png');
  --map-tile-bottom-url: url('../img/prairie/map-tile-bottom.png');
  --map-tile-bottom-right-url: url('../img/prairie/map-tile-bottom-right.png');
  --map-tile-left-url: url('../img/prairie/map-tile-left.png');
  --map-tile-right-url: url('../img/prairie/map-tile-right.png');
  --map-tile-center-url: url('../img/prairie/map-tile-center.png');
}

.cell {
  position: relative;
}

.character {
  width: var(--cell-size);
  height: var(--cell-size);
  position: absolute;
  z-index: 99;
  background: url('../img/goblin.png');
  background-size: 64px;
}

.map-tile {
  width: var(--cell-size);
  height: var(--cell-size);
}

.map-tile-top-left {
  background: var(--map-tile-top-left-url);
}

.map-tile-top {
  background: var(--map-tile-top-url);
}

.map-tile-top-right {
  background: var(--map-tile-top-right-url);
}

.map-tile-bottom-left {
  background: var(--map-tile-bottom-left-url);
}

.map-tile-bottom {
  background: var(--map-tile-bottom-url);
}

.map-tile-bottom-right {
  background: var(--map-tile-bottom-right-url);
}

.map-tile-left {
  background: var(--map-tile-left-url);
}

.map-tile-right {
  background: var(--map-tile-right-url);
}

.map-tile-center {
  background: var(--map-tile-center-url);
}
